/*                    Credit: http://themeforest.net/user/EstebanMatias92              */
/* Google Web Fonts */
@import "http://fonts.googleapis.com/css?family=Convergence|Averia+Libre:700,400|Righteous|Montserrat";

/*----------------------- E-M92 FONTS STYLES ----------------------
-------------------------------------------------------------------*/
/*------- BACKGROUND --------
---------------------------*/
body {
  color: #a1dde2;
  font-weight: normal;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}
hgroup {
  font-family: 'Righteous', cursive;
  font-variant: small-caps;
  font-weight: normal;
}
h1 {
  font-size: 2.5em;
  margin-bottom: 0.4em;
}
h2 {
  font-size: 2.25em;
  margin-bottom: 0.5em;
}
h3 {
  font-size: 2em;
  margin-bottom: 0.6em;
}
h4 {
  font-size: 1.3em;
  margin-bottom: 0.7em;
}
h5 {
  font-size: 1em;
  margin-bottom: 0.8em;
}
h6 {
  font-size: 0.5em;
  margin-bottom: 0.9em;
}
a {
  color: #023b40;
  display: block;
  font-family: 'Convergence', sans-serif;
  font-weight: bold;
}
p {
  margin: auto 5px;
  text-align: left;
}
/*--------- HEADER ----------
---------------------------*/
nav ul li a {
  display: table-cell;
  font-size: 1.1em;
  text-align: center;
  vertical-align: middle;
  text-shadow: 0 1px 0 #f8e4b9;
}
#logo {
  text-align: center;
}
/*--------- SLIDER --------*//*----- (E-M92_Mod) ----*/
.theme-default .nivo-caption a {
  color: #fff;
  border-bottom: 1px dotted #fff;
}
.theme-default .nivo-caption a:hover {
  color: #fff;
}
.nivo-caption {
  text-align: center;
}
.nivo-caption p {
  font-size: 0.95em;
  letter-spacing: 0.5px;
  line-height: 1.1em;
  text-align: left;
  margin: 0;
}
.nivo-caption hgroup {
  color: #285458;
}
.nivo-caption a {
  display: inline !important;
}
/*---------- MAIN -----------
---------------------------*/
#service ul {
  margin-top: 25px;
}
#service ul li {
  background: url(../images/icons/service-icon.png) no-repeat 0 0;
  background-size: 15px;
  display: block;
  padding-left: 20px;
  margin: 12px 5px;
}
#service .area h2 {
  margin-top: 0.5em;
}
#Damnatio-Form legend {
  font-size: 1.3em;
  font-variant: small-caps;
  font-weight: bold;
  float: right;
  letter-spacing: 1px;
  margin: 0.9em 0.5em 0.3em 0.5em;
}
#Damnatio-Form label {
  cursor: pointer;
  display: block;
  font-family: 'Righteous', cursive;
  font-size: 1.2em;
  text-align: left;
  padding: 1em 0.5em 0.5em 0.5em;
}
#Damnatio-Form input[type=Submit] {
  background: linear-gradient(#8e753e 0%, #f9cc6c 50%, #8e753e 100%) !important;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  bottom: 25px;
  box-shadow: 0 0 8px 0px #171717;
  color: #023b40;
  cursor: pointer;
  font-family: 'Convergence', sans-serif;
  font-weight: bold;
  opacity: 1;
  position: absolute;
  right: 8px;
  text-shadow: 0 1px 0 #c9b383;
  transition: all 0.2s;
  height: 30px;
  width: 75px;
}
#Damnatio-Form input[type=Submit]:hover {
  box-shadow: 0 0 8px 0px #ffffff;
}
#Damnatio-Form input:-moz-placeholder,
#Damnatio-Form textarea:-moz-placeholder {
  color: #8e753e;
}
#Damnatio-Form input::-webkit-input-placeholder,
#Damnatio-Form textarea::-webkit-input-placeholder {
  color: #8e753e;
}
#Damnatio-Form input:-ms-input-placeholder,
#Damnatio-Form textarea:-ms-input-placeholder {
  color: #8e753e;
}
#Damnatio-Form input,
#Damnatio-Form textarea {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  color: #6d4c03;
}
.main p,
.main li {
  color: #f9cc6c;
  letter-spacing: 1px;
  line-height: 1.2em;
  margin: auto 5px;
  text-align: left;
}
.main hgroup {
  color: #a1dde2;
  letter-spacing: 1px;
}
.link-more {
  background: linear-gradient(#8e753e 0%, #f9cc6c 50%, #8e753e 100%);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  bottom: 25px;
  box-shadow: 0 0 8px 0px #171717;
  box-sizing: border-box;
  color: #023b40;
  padding-top: 7px;
  position: absolute;
  right: 8px;
  text-shadow: 0 1px 0 #c9b383;
  transition: all 0.2s;
  height: 30px;
  width: 75px;
}
.link-more:hover {
  box-shadow: 0 0 8px 0px #ffffff;
}
/*--------- FOOTER ----------
---------------------------*/
footer p {
  font-size: 0.9em;
  letter-spacing: 0.5px;
  line-height: 1.1em;
  text-align: center;
}
footer hgroup {
  color: #e8a617;
  text-decoration: underline;
}
#sitemap {
  margin-top: 30%;
}
#sitemap li a {
  color: #f9e0ae;
  font-size: 17px;
  font-weight: bold;
  margin: 8px auto;
  transition: all 0.2s;
}
#sitemap li a:hover {
  text-decoration: underline;
}
