/*                    Credit: http://themeforest.net/user/EstebanMatias92             */
/* Imports */
/*                    Credit: http://themeforest.net/user/EstebanMatias92              */
/*--------------------- E-M92 VARs & FUNCTIONs --------------------
-------------------------------------------------------------------*/
/*-------- MEASURES ---------
---------------------------*/
/*---------- WIDTH ----------
---------------------------*/
/*--------- COLORS ----------
---------------------------*/
/*--------- SHADOWS ---------
---------------------------*/
/*---------------------- E-M92 GLOBAL STYLES ----------------------
-------------------------------------------------------------------*/
/*------- BACKGROUND --------
---------------------------*/
html {
  background-attachment: scroll;
  height: 1450px;
  margin: 0 auto 0 auto;
  width: 1004px;
}
body {
  background: linear-gradient(top, #023b40 13%, #ffffff 49%, #ffffff 58%, #023b40 100%);
  background: -moz-linear-gradient(to bottom, #023b40 13%, #ffffff 49%, #ffffff 58%, #023b40 100%);
  position: absolute;
  height: inherit;
  width: inherit;
}
#E-M92_wrap {
  background-color: transparent;
  box-sizing: content-box;
  z-index: 0;
}
/*--------- HEADER ----------
---------------------------*/
header {
  box-sizing: border-box;
  z-index: 2;
  height: auto;
  width: auto;
}
/*----------- NAV ---------*/
nav {
  background: linear-gradient(#f9e0ae 0%, #e8a617 100%);
  box-shadow: 0 0 8px 1px #171717;
  position: relative;
  z-index: 3;
  height: 55px;
  margin: 15px auto 30px auto;
  width: 960px;
}
nav ul {
  float: right;
  position: relative;
  height: auto;
  width: auto;
  z-index: 4;
}
nav ul li {
  display: inline-block;
  z-index: 5;
  height: 65px;
  margin: 0 2px auto 2px;
  width: auto;
}
nav ul li a {
  border-bottom: 5px solid transparent;
  background-color: transparent;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  transition: all 0.2s;
  z-index: 6;
  height: 65px;
  width: 144px;
}
nav ul li a:hover {
  border-color: #e8a617;
}
nav ul li a.current {
  border-color: #e8a617;
}
nav ul li:first-child {
  margin-left: 0;
}
nav ul li:last-child {
  margin-right: 0;
}
#logo {
  float: left;
  position: absolute;
  z-index: 4;
  height: 140%;
  width: 305px;
}
#logo img {
  background-color: transparent;
  height: 100%;
  width: auto;
}
/*--------- SLIDER --------*//*----- (E-M92_Mod) ----*/
.E-M92_controlNav {
  background: linear-gradient(#023b40 5%, #285458 95%);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  box-shadow: 0 0 4px 0px #303030;
  text-align: center;
  height: 55px;
  margin: 25px auto 0 auto;
  width: 635px;
  /*!----- PRE CONTENTS -----*/

}
.E-M92_controlNav article {
  background: linear-gradient(#285458 5%, #11838d 95%);
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 4px 0px #303030;
  margin: 0 10px;
  padding: 0 8px;
  width: 76px;
}
.E-M92_controlNav article a {
  background: url(../images/bullets.png) no-repeat;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  height: 100%;
  width: 100%;
}
.E-M92_controlNav article a:hover {
  background-position: 0 -100%;
}
.E-M92_controlNav article a.active {
  background-position: 0 -100%;
}
.E-M92_controlNav article:first-child {
  margin-left: 0;
}
.E-M92_controlNav article:last-child {
  margin-right: 0;
}
.E-M92_controlNav.E-M92_thumbs_enabled {
  height: 100px;
  width: 960px;
}
.E-M92_controlNav.E-M92_thumbs_enabled article {
  padding-bottom: 15px !important;
  padding-top: 15px !important;
  width: 176px;
}
.E-M92_controlNav.E-M92_thumbs_enabled article a {
  background: #000000;
  overflow: hidden;
  height: auto;
  width: 157px;
}
.E-M92_controlNav.E-M92_thumbs_enabled article a img {
  display: block;
  transition: all 0.2s;
  height: 70px;
  width: auto;
}
.E-M92_controlNav.E-M92_thumbs_enabled article a:hover img {
  opacity: 0.5;
}
/*------ PRE CONTENTS -----*/
.nivo-caption {
  background: linear-gradient(bottom, rgba(230, 163, 23, 0) 7%, rgba(230, 163, 23, 0.55) 45%, rgba(230, 163, 23, 0.7) 65%, #e6a317 95%);
  background: -moz-linear-gradient(to top, rgba(230, 163, 23, 0) 7%, rgba(230, 163, 23, 0.55) 45%, rgba(230, 163, 23, 0.7) 65%, #e6a317 95%);
  border-radius: 4px;
  box-sizing: border-box;
  display: none;
  right: 37px;
  overflow: hidden;
  opacity: 0.9;
  padding: 25px 8px;
  position: absolute;
  bottom: 0px;
  z-index: 8;
  height: 99%;
  width: 270px;
}
.nivo-html-caption {
  display: none;
}
/*----------- IMG ---------*/
img {
  background-color: #ffffff;
  border-left: 4px solid #e8a617;
  border-right: 4px solid #e8a617;
  border-radius: 4px;
  z-index: 5;
}
header img {
  border-radius: 0;
  border: none;
  box-shadow: 0;
}
.main img,
footer img {
  box-shadow: 0 1px 4px 1px #171717;
}
.main img {
  border-color: #a1dde2;
}
/*---------- MAIN -----------
---------------------------*/
#home .area {
  height: 565px;
}
#service .area {
  height: 362.5px;
}
#service .area:nth-child(2) {
  margin-top: 25px;
}
#gallery .area {
  height: 362.5px;
}
#gallery .area:nth-child(2) {
  margin-top: 25px;
}
#contact .area {
  height: 750px;
}
.main {
  box-sizing: border-box;
  padding: 25px 22px 25px 22px;
  z-index: 2;
  height: auto;
  width: auto;
}
.main .area {
  background: linear-gradient(#285458 15%, #023b40 85%);
  box-shadow: 0 -1px 4px 0px #4a4a4a;
}
.area {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  z-index: 3;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
/*------ PRE CONTENTS -----*/
#home .area article:nth-child(1) {
  width: 305px;
}
#home .area article:nth-child(2) {
  float: right;
  width: 635px;
}
#service .area article:nth-child(1) {
  width: 305px;
}
#service .area article:nth-child(2) {
  float: right;
  width: 635px;
}
#gallery .area article {
  float: left;
  margin: 0 10px;
  width: 225px;
}
#gallery .area article:first-child {
  margin-left: 0;
}
#gallery .area article:last-child {
  margin-right: 0;
}
#contact .area article {
  width: 470px;
}
#contact .area article:last-child {
  float: right;
}
#Damnatio-Form input {
  background: linear-gradient(#023b40 0%, #a1dde2 20%) !important;
  height: 30px;
}
#Damnatio-Form input[type=text] {
  width: 190px;
}
#Damnatio-Form input[id=Name] {
  margin-right: 48px;
}
#Damnatio-Form input[id=Subject] {
  width: 435px;
}
#Damnatio-Form input[type=Email] {
  width: 435px;
}
#Damnatio-Form input,
#Damnatio-Form textarea {
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  opacity: 0.75;
  padding: 5px 8px;
  transition: all 0.2s;
}
#Damnatio-Form textarea {
  background: linear-gradient(#023b40 0%, #a1dde2 6%) !important;
  max-height: 120px;
  max-width: 435px;
  min-height: 100px;
  min-width: 435px;
}
#Damnatio-Form input:focus,
#Damnatio-Form textarea:focus {
  opacity: 1;
}
.entry_content {
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  overflow: hidden;
  padding: 25px 8px;
  position: relative;
  text-align: center;
  z-index: 4;
}
/*----------- IMG ---------*/
#home .area article:nth-child(1) img {
  margin-top: 10px;
  height: 200px;
  width: 270px;
}
#home .area article:nth-child(2) img {
  float: right;
  margin: auto 5px 10px 10px;
  height: 170px;
  width: 270px;
}
#service .area article:nth-child(1) img {
  height: 135px;
  width: 270px;
}
#gallery .area article img {
  margin-bottom: 10px;
  height: 150px;
  width: 190px;
}
#contact .area article:nth-child(2) img {
  margin: 10px auto;
  height: 180px;
  width: 435px;
}
/*--------- FOOTER ----------
---------------------------*/
footer {
  box-sizing: border-box;
  height: auto;
  padding: 0px 22px 25px 22px;
  z-index: 2;
}
footer .area {
  background: linear-gradient(#6d4c03 2%, #8e753e 98%);
  border-radius: 4px;
  box-shadow: 0 1px 4px 0px #303030;
  height: 225px;
}
/*------ PRE CONTENTS -----*/
footer .area article {
  float: left;
  margin: 0 10px;
  padding-bottom: 20px !important;
  padding-top: 20px !important;
  width: 135px;
}
footer .area article:first-child {
  margin-left: 0;
  width: 305px;
}
footer .area article:last-child {
  margin-right: 0;
  width: 305px;
}
/*----------- IMG ---------*/
footer .area article img {
  height: 140px;
  width: 270px;
}
#socialmedia li a {
  background: linear-gradient(#8e753e 0%, #f9cc6c 50%, #8e753e 100%);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  box-shadow: 0 0 8px 0px #171717;
  box-sizing: border-box;
  margin: 5px auto;
  transition: all 0.2s;
  height: 30px;
  width: 75px;
}
#socialmedia li a img {
  background-color: transparent;
  border: none;
  box-shadow: none;
  height: auto;
  width: 28px;
}
#socialmedia li a:hover {
  box-shadow: 0 0 8px 0px #ffffff;
}
