/*                    Credit: http://themeforest.net/user/EstebanMatias92              */
/* Imports */
@import "vars_funs.less";
/* Google Web Fonts */
@import "http://fonts.googleapis.com/css?family=Convergence|Averia+Libre:700,400|Righteous|Montserrat";

/*----------------------- E-M92 FONTS STYLES ----------------------
-------------------------------------------------------------------*/
/*------- BACKGROUND --------
---------------------------*/


body{
  color: @lighter-1-color;
  font-weight: normal;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}


hgroup{
  font-family: 'Righteous', cursive;
  font-variant: small-caps;
  font-weight: normal;
}


h1{
  font-size: 2.5em;
  margin-bottom: 0.4em;
}

h2{
  font-size: 2.25em;
  margin-bottom: 0.5em;
}

h3{
  font-size: 2em;
  margin-bottom: 0.6em;
}

h4{
  font-size: 1.3em;
  margin-bottom: 0.7em;
}

h5{
  font-size: 1em;
  margin-bottom: 0.8em;
}

h6{
  font-size: 0.5em;
  margin-bottom: 0.9em;
}

a{
  color: @darker-1-color;
  display: block;
  font-family: 'Convergence', sans-serif;
  font-weight: bold;
}

p{
  margin: auto 5px;
  text-align: left;
}


/*--------- HEADER ----------
---------------------------*/


nav{
  ul{
  	li{
  	  a{
  	    display: table-cell;
        font-size: 1.1em;
	      text-align: center;
	      vertical-align: middle;
        text-shadow: 0 1px 0 hsla(41, 82%, 85%,1);
  	  }
  	}
  }
}

#logo{
  text-align: center;
}

/*--------- SLIDER --------*//*----- (E-M92_Mod) ----*/


.theme-default .nivo-caption {
  //font-family: 'Convergence', sans-serif;
}
.theme-default .nivo-caption a {
    color: #fff;
    border-bottom: 1px dotted #fff;
}
.theme-default .nivo-caption a:hover {
    color: #fff;
}
.nivo-caption {
  text-align: center;
  p{
    font-size: 0.95em;
    letter-spacing: 0.5px;
    line-height: 1.1em;
    text-align: left;
    margin: 0;
  }
  hgroup{
    color: @dark-1-color;
  }
}

.nivo-caption a {
    display: inline !important;
}


/*---------- MAIN -----------
---------------------------*/
#service{
  ul{
    margin-top: 25px;
    li{
      background: url(../images/icons/service-icon.png) no-repeat 0 0;
      background-size: 15px;
      display: block;
      padding-left: 20px;
      margin: 12px 5px;
    }
  }
}

#service{
  .area{
    h2{
      margin-top: 0.5em;
    }
  }
}

#Damnatio-Form{
  legend{
    font-size: 1.3em;
    font-variant: small-caps;
    font-weight: bold;
    float: right;
    letter-spacing: 1px;
    margin: 0.9em 0.5em 0.3em 0.5em;
  }
  label{
    cursor: pointer;
    display: block;
    font-family: 'Righteous', cursive;
    font-size: 1.2em;
    text-align: left;
    padding: 1em 0.5em 0.5em 0.5em;
  }
  input[type=Submit]{
    background: linear-gradient(@dark-2-color 0%, @light-2-color 50%, @dark-2-color 100%) !important;
    border: 1px solid hsla(0, 0%, 0%,.3);
    border-radius: 8px;
    bottom: 25px;
    box-shadow: 0 0 8px 0px @dark-shadow;
    color: @darker-1-color;
    cursor: pointer;
    font-family: 'Convergence', sans-serif;
    font-weight: bold;
    opacity: 1;
    position: absolute;
    right: 8px;
    text-shadow: 0 1px 0 hsla(41, 39%, 65%,1);
    transition: all 0.2s;
  .box_measures(30px, 75px);
  }
  input[type=Submit]:hover{
    box-shadow: 0 0 8px 0px @white-color;
  }
  input:-moz-placeholder, textarea:-moz-placeholder{
    color: hsl(41, 39%, 40%, 0.7);
  }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
    color: hsl(41, 39%, 40%, 0.7);
  }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder{
    color: hsl(41, 39%, 40%, 0.7);
  }
  input,textarea{
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: @darker-2-color;
  }
}

.main{
  p,li{
    color: @light-2-color;
    letter-spacing: 1px;
    line-height: 1.2em;
    margin: auto 5px;
    text-align: left;
  }
  hgroup{
    color: @lighter-1-color;
    letter-spacing: 1px;
  }
}

.link-more{
  background: linear-gradient(@dark-2-color 0%, @light-2-color 50%, @dark-2-color 100%);
  border: 1px solid hsla(0, 0%, 0%,.3);
  border-radius: 8px;
  bottom: 25px;
  box-shadow: 0 0 8px 0px @dark-shadow;
  box-sizing: border-box;
  color: @darker-1-color;
  padding-top: 7px;
  position: absolute;
  right: 8px;
  text-shadow: 0 1px 0 hsla(41, 39%, 65%,1);
  transition: all 0.2s;
  .box_measures(30px, 75px);
}

.link-more:hover{
  box-shadow: 0 0 8px 0px @white-color;
}


/*--------- FOOTER ----------
---------------------------*/


footer{
  p{
    font-size: 0.9em;
    letter-spacing: 0.5px;
    line-height: 1.1em;
    text-align: center;
  }
  hgroup{
    color: @base-2-color;
    text-decoration: underline;
  }
}

#sitemap{
  margin-top: 30%;
  li{
    a{
      color: @lighter-2-color;
      font-size: 17px;
      font-weight: bold;
      margin: 8px auto;
      transition: all 0.2s;
    }
    a:hover{
      text-decoration: underline;
    }
  }
}